
.passion{
  padding-top: 200px;
  font-family: 'Bad Script', cursive;
  background-color: #fff;
  margin-bottom: 40px;
}
.passion h1{
  font-size: 43px;
}
.passion1 img{
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.passion2 img{
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.passion1 h1{
  margin-top: 25px;
  font-size: 20px;
}
.passion2 h1{
  font-size: 20px;
}
.title-selt{
   color: #F37820;
   font-family: roboto;
   font-size: 50px;
}
@media (min-width: 992px) {
.passion h1{
  font-size: 47px;
}
.passion1 img{
  width: 420px;
}
.passion2 img{
  width: 420px;
}
.passion1 h1{
  font-size: 30px;

}
.passion2 h1{
  font-size: 30px;
}
.passion{
  height: 600px;
  padding-top: 50px;
}
.passion1 h1{
  margin-top: 10px;
}
}