.header{
  padding-top: 100px;
  background-image: url('../../assets/img/bg-content.svg');
  height: 370px;

}
.header h4{
  margin-top: 130px;
  color: #F37820;
  font-size: 18px;
}
.header img{
  width: 250px;
  margin-top: -400px;
}
@media (min-width: 992px) {
.header{
  height: 600px;
}
.header img{
  width: 670px;
  margin-top: 155px;
}
.header h4{
  margin-top: 60px;
  font-size: 28px;
}
}