/* header */
.header-landing{
  /* height: 100vh; */
  box-sizing: border-box;
  display: flex;
  padding-top: 100px;
  position: relative;
  flex-direction: column;
}
.header-landing .left-section{
  width: 100%;
}
.header-landing .right-section{
  width: 100%;
  position: relative;
}
.section-img{
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  height: 460px;
}
.section-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-button-landing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 45px auto;
  justify-content: center;
}
.box-button-landing h6{
  margin-left: auto;
  color: rgb(194, 88, 12);
  font-size: 30px;
  font-weight: 600;
  margin-right: 20px;
  width: 100%;
  text-align: center;
}
.btn-seid{
  border-width: 0;
  padding: 12px 15px;
  /* padding: 12px 30px; */
  border-radius: 6px;
  margin: 10px;
  background-color: #F37820;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}
.img-landing{
  width: 100%;
  height: 250px;
  margin-top: 30px;
  margin-left: auto;
  box-sizing: border-box;
}
.img-landing img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.text-section{
  padding: 0 15px;
}
.text-section p{
  text-align: center;
}
/* .section-img{
  background-color: yellow;
} */
.or{
  padding: 0;
  margin: 0;
}
.logo-seid{
  width: 250px !important;
  margin-bottom:-50px;
}
.btn-talent{
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 992px) {
  .header-landing{
    display: flex;
    flex-direction: row;
  }
  .header-landing .left-section{
    width: 50%;
  }
  .header-landing .right-section{
    width: 50%;
  }
  .section-img{
  width: 450px;
  }
  .img-landing{
  width: 520px;
  height: 430px;
  }
  .box-button-landing{
  align-items: center;
  flex-direction: row;
  width: 600px;
  margin: 45px auto;
  }
  .box-button-landing h6{
  width: fit-content !important;
  text-align: left;
  }
  .btn-talent{
  padding-right: 45px !important;
  padding-left: 45px !important;
}
.btn-seid{
  padding: 12px 30px;
  }
}