.footer2{
  height: 110px;
  background: #F37820;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 40px;
  box-sizing: border-box;
  overflow: hidden;
  color: rgb(252, 234, 210);
  padding: 18px 0;
}
.footer2 h4{
  font-size: 16px;
  margin: 0;
}
.footer2 p{
  margin: 5px 0;
}
.text{
  margin: 2px auto;
}
@media (min-width: 992px) {
.footer2{
  margin-top: 120px !important;
}
}