.work{
  height: 600px;
  background:#fff;
  background-size: cover;
}
.work img{
  width: 250px;
}
.work h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 600;
  color: #F37820;
  margin-right: auto;
  margin-left: auto;
}
.work h1 span{
  color: rgb(17, 16, 16);
}
.btn-talent{
  background-color: orange;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  }
  .btn-talent:hover{
    color: white;
    background-color: rgb(214, 141, 6);
  }
.btn-costumer{
  border-color: orange;
  color: orange;
  background-color: white;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 600;
}
.btn-costumer:hover{
  color: orange;
  background-color: rgb(250, 226, 182);
}
.work .button-container{
  margin-top: 30px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.box-work{
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  background-image: linear-gradient(90deg, rgba(213,106,37,1) 0%, rgba(250,190,151,1) 100%);
  padding-bottom: 50px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, .2);
}
@media (min-width: 992px) {
  .work img{
  width: 500px;
  margin-left: 50px;
}
.work h1{
  width: 200px;
  margin-top: 120px;
}
.work{
  padding-top: 50px;
}
.box-work{
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
  border-bottom-right-radius: 175px;
}
}
